.titulo{
    font-size: 3.7rem;
    font-weight: bold;
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.subtitulo{
    font-size: 1.7rem;
    font-weight: lighter;
    text-shadow: 0 2px 3px rgba(0,0,0,.2);
}

.parrafoUno{
    max-width: 100%;
    line-height: normal;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

.boton{
    width: fit-content;
    font-weight: 500;
    background-color: #ff58e9;
    color: white;
    padding: 0.5rem 1.5rem;
    border: none;
    transition: background-color .3s, color .3s;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.2);
}

.boton:hover{
    background-color: white;
    color: #ff58e9;
    border: none;
}