.divPrincipal{
    background-color: #fecee6;
    background: linear-gradient(35deg, rgb(195, 106, 195) 0%, rgb(226, 154, 255) 55%, rgba(254,206,230,1) 100%);
}

.sectionPrincipal{
    min-height: 80vh;
}

.bgImage{
    width: 50%;
    max-width: 50%;
    min-height: 75vh;
    background-image: url(../../../public/images/profile-pic.png);
    background-size: 70%;
    background-position: right center;
    background-repeat: no-repeat;
    filter: drop-shadow(0px 2px 5px rgba(0, 0, 0, 0.1) );
}

.svgContainer{
    height: 100px;
    width: 100%;
}