.divPrincipal{
    background-color: #fecee6;
    background: linear-gradient(35deg, rgba(232,176,232,1) 0%, rgba(238,194,255,1) 50%, rgba(254,206,230,1) 100%);
}

.sectionPrincipal{
    min-height: 75vh;
    background-image: url(../../../public/images/profile-pic.png);
    background-size: 35%;
    background-position: right 60%;
    background-repeat: no-repeat;
}

.svgContainer{
    height: 100px;
    width: 100%;
}