.navbar{
    border-bottom: 1px solid rgba(0,0,0,.1);
    z-index: 100;
}

.navbar-brand img{
    width: 30px;
    margin: 5px 0px;
    filter: drop-shadow(1px 2px 1px rgba(0,0,0,.2));
}

.logoNav{
    color: #f48fb1;
    text-shadow: 0 1px 2px rgba(0,0,0,.1);
}